<div id="forms-container">
    <div>
        <form id="add-form" action="http://localhost:8080/api/products" method="POST">
            <input id="productTitle" type="text" placeholder="Nombre del producto" >
            <input id="description" type="text" placeholder="Descripcion del producto">
            <input id="price" type="number" placeholder="Precio del producto">

            <button type="submit">Postear</button>
        </form>
    </div>
    <div>
        <form id="delete-form">
            <input id="input-deleteProduct" type="number" placeholder="ID del producto">
            <button type="submit">Borrar</button>
        </form>
    </div>
</div>    
<div id="products-container"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="js/home.js"></script>