*{
    font-family: "Lato", serif;
    font-weight: 400;
    margin: 0;
    box-sizing: border-box;
}

#cart-button{
    top: 15px;
    right: 20px;
    position: absolute;
    z-index: +1;
}

#cart-container{
    padding-top: 3rem;
    width: 25rem;
    height: 100%;
    position: fixed;
    right: 0;   
    top: 0;
    background-color: #080808;
    color: aliceblue;
    div{
        padding: 20px;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid aliceblue;
    }
}

.hidden{
    display: none;
}

nav{
    z-index: +1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    background-color: #FFE600;
    color: rgb(0, 0, 0);
    a{
        text-decoration: none;
        color: #080808;
    }
    .logo-conainer{
        display: flex;
    }
    img{
        height: 35px;
    }
    span{
        font-size: 1.5rem;
        font-weight:900;
    }
}
button{
    margin-right: auto;
    margin-left: auto;
    padding: 5px 10px;
    color: aliceblue;
    border-radius: 16px;
    background-color: #080808;
    cursor: pointer;
}
button:hover{
    background-color: aliceblue;
    color: #080808;
    transition: all 1s;
}

#detail-container{
    padding-top: 5rem;
    display: flex;
    justify-content: space-around;
    img{
        height: 350px;
    }
    #detail-info{
        padding: 2rem;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        #price-container{
            color: green;
            font-size: larger;
            font-weight: bold;
            margin-left: 20px;
        }
    }
}
#back-to-home{
    color: #080808;
    margin-left: 45%;
    margin-bottom: 2rem;
}   

#back-to-home:hover{
    text-decoration: none;
}