*{
    font-family: "Lato", serif;
    font-weight: 400;
    margin: 0;
    box-sizing: border-box;
}

a{
    color: #080808;
}   
.logo-conainer{
    display: flex;
}
span{
    font-size: 1.5rem;
    font-weight:900;
}
nav{
    z-index: +1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    background-color: #FFE600;
    color: rgb(0, 0, 0);
    a{
        text-decoration: none;
        color: #080808;
    }
    img{
        height: 35px;
    }
    #cart-button{
        top: 15px;
        right: 20px;
        position: absolute;
        z-index: +1;
        background-color: #ffff;
    }
    
    #cart-button:hover{
        background-color: #FFE600;
        color: aliceblue;
        transition: all 5ms;
    }
    
}
#cart-container{
    position: absolute;
    padding-top: 3rem;
    width: 25rem;
    height: 100%;
    right: 0;   
    top: 0;
    background-color: #080808;
    color: aliceblue;
    div{
        padding: 20px;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid aliceblue;
    }
}
.hidden{
    display: none;
}
button{
    margin-right: auto;
    margin-left: auto;
    padding: 5px 10px;
    color: aliceblue;
    border-radius: 16px;
    background-color: #080808;
    cursor: pointer;
}
button:hover{
    background-color: aliceblue;
    color: #080808;
    transition: all 1s;
}

#products-container{
    margin: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1.5rem;
    column-gap: 20px;
    h2{
        color: #2b702b;
    }
}
.product-card{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-items: center;
    text-align: center;
    border-radius: 16px;
    padding: 3rem;
    border: 0.5px gray;
    box-shadow: 10px 10px 78px -37px rgba(0,0,0,0.75);
    img{
        width: 150px;
        margin-left: auto;
        margin-right: auto;
    }
}
.pagination{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

